n8n/cache_pipelines.json
{
  "name": "Cache Pipelines",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -80
      ],
      "id": "7810da9a-f669-4acb-ad38-58f196aded41",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://lmresorts.kommo.com/api/v4/leads/pipelines",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        -80
      ],
      "id": "77fc98e2-a01d-4ecc-b9cc-0668a0bc83ab",
      "name": "Get Pipelines",
      "credentials": {
        "httpBearerAuth": {
          "id": "eZVQ7laj4JrDEXMc",
          "name": "Kommo Credencial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nlet conteudo = item.data;\n\nif (typeof conteudo === 'string') {\n    try {\n        conteudo = JSON.parse(conteudo);\n    } catch (e) {\n        throw new Error(\"O campo 'data' veio como texto mas não é um JSON válido.\");\n    }\n}\n\nif (!conteudo || !conteudo._embedded || !conteudo._embedded.pipelines) {\n    throw new Error(\"Ainda não achei '_embedded.pipelines' dentro de 'data'.\");\n}\n\nconst listaPipelines = conteudo._embedded.pipelines;\nconst dicionario = {};\n\nfor (const p of listaPipelines) {\n    const statuses = {};\n    if (p._embedded && p._embedded.statuses) {\n        for (const s of p._embedded.statuses) {\n            statuses[s.id] = s.name;\n        }\n    }\n    dicionario[p.id] = {\n        name: p.name,\n        statuses: statuses\n    };\n}\n\nreturn [{ json: dicionario }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -80
      ],
      "id": "8ae8a46c-0810-4f7f-8ba1-1c82a6ad0421",
      "name": "Tratar dados Pipelines"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "pipelines",
        "value": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        256,
        -80
      ],
      "id": "8a6f40a3-f194-4748-8d88-e543ce66d318",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "8Se0NGzzsCQTEBkC",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pipelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pipelines": {
      "main": [
        [
          {
            "node": "Tratar dados Pipelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar dados Pipelines": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f7bc896a-af39-41e0-9237-6c4bbdf075ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e60b74ab053ed0d2b808977bf7f742d40a11fa4d10865b3095732a10341c3c2f"
  },
  "id": "XUy2gKM9MKINS7zo6Lofe",
  "tags": []
}